.entradaDePalabras{
    overflow-y: auto;
    width: 100vh;
    height: 55vh;
    border: 1px solid #c8c8c8;
    border-radius: .2rem;
    padding: 1rem;
}

.preguntaYRespuesta{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.campoMultilinea{
    width: 20rem;
}

.deleteButton{
    width: 1rem;
    height: 3.5rem;
    align-self: center;
    
}



.PREncabezado{
    margin: 1rem 0rem .5rem 9rem;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    text-align: center;
}

.masYGuardar{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top:1rem ;
}