@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@49@;500;600&display=swap");
.mainContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.thingsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.thingsContainer > h2 {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
}

.LinkText {
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffffff;
}
.createButton {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 750;
  border-radius: 0.2rem;
  background-color: transparent;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.createButton:hover {
  background-color: gray;
}
